djangorestframework>=3.15.2
djangorestframework-simplejwt>=5.3.1
django>=5.0.0,<6.0.0
channels>=4.3.2
daphne>=4.2.1
gunicorn>=25.3.0
uvicorn[standard]>=0.34.0
psycopg2-binary>=2.9.11
dj-database-url>=2.3.0
whitenoise[compression]>=6.9.0
django-cors-headers>=4.7.0
python-dotenv>=1.0.1
asgiref>=3.11.1
sqlparse>=0.5.5
typing-extensions>=4.12.0
Pillow>=11.1.0
PyJWT>=2.10.1
cloudinary>=1.41.0
django-cloudinary-storage>=0.3.0
requests>=2.31.0
